<c-header>
  <c-container fluid>
    <c-header-brand [routerLink]>Brand</c-header-brand>
    <c-header-nav class="ms-auto">
      <c-nav-item>
        <a [active]="true" [routerLink] cNavLink>Home</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/components/alert">Link</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink disabled routerLink="/components/alert">Disabled</a>
      </c-nav-item>
      <c-dropdown alignment="end">
        <a cHeaderToggler cDropdownToggle cNavLink [caret]="false"></a>
        <ul cDropdownMenu>
          <li><a [routerLink] cDropdownItem>Action</a></li>
          <li><a [routerLink] cDropdownItem>Another action</a></li>
          <li>
            <hr cDropdownDivider>
          </li>
          <li><a [routerLink] cDropdownItem>Something else</a></li>
        </ul>
      </c-dropdown>
    </c-header-nav>
  </c-container>
  <c-header-divider></c-header-divider>
  <!-- <c-container fluid>
          <c-header-text>Additional text</c-header-text>
        </c-container> -->
</c-header>
<div class="mr-auto">
  <br>
  <h2>Enter infomation</h2>
  <br>
</div>
<c-row>
  <c-col>
    <form   cForm  #customStylesForm="ngForm" [gutter]="3"
     (ngSubmit)="onSubmit()">
      <c-row>
        <c-col>
          <div class="mb-3 xs">
            <label cLabel for="inputEmail-1">Email</label>
            <input cFormControl id="inputEmail-1" type="email" name="email" [(ngModel)]="email">
            <div cFormText>
              We'll never share your email with anyone else
            </div>
          </div>
        </c-col>
        <c-col>
          <div class="mb-3 xs">
            <label cLabel for="firstname-1">First Name</label>
            <input cFormControl id="firstname-1"  name="firstname"  type="text"  [(ngModel)]="firstname">
          </div>
        </c-col>
        <c-col>
          <div class="mb-3 xs">
            <label cLabel for="lastname-1">Last Name</label>
            <input cFormControl id="lastname-1" name="lastname" type="text"  [(ngModel)]="lastname">
          </div>
        </c-col>
      </c-row>
      <c-row>
        <c-col>
          <div class="mb-3 xs">
            <label cLabel for="adress-1">Adress</label>
            <input cFormControl id="adress-1" name="adress" type="text"[(ngModel)]="adress">
          </div>
        </c-col>
        <c-col>
          <div class="mb-3 xs">
            <label cLabel for="inputPassword-1">Password</label>
            <input cFormControl id="inputPassword-1" name="text" type="password"  [(ngModel)]="password">
          </div>
        </c-col>
      </c-row>
      <c-form-check class="mb-3 xs">
        <input cFormCheckInput id="checkMeOut-1" type="checkbox" name="checkbox" [(ngModel)]="checked">
        <label cFormCheckLabel for="checkMeOut-1">Check me out</label>
      </c-form-check>
      <input cButton color="primary" type="submit" value="Add">
    </form>
    
  </c-col>
  <c-col>
   <img id="imageinfo" src="https://www.alithya.com/hubfs/Imported_Blog_Media/Blog_Achitecture-2.jpg" alt="info">
  </c-col>
</c-row>