<app-add-user (onAddUser)="addUser($event)"></app-add-user>

<h4>List User</h4>
<input type="text" id="myInput" placeholder="Search infomation..." [(ngModel)]="searchtext" title="Type in a name">
<table [striped]="true" cTable color="success">
    <thead>
    <tr>
    <th scope="col">STT</th>
    <th scope="col">Email</th>
    <th scope="col">First-name</th>
    <th scope="col">Last-name</th>
    <th scope="col">Adress</th>
    <th scope="col">Pass Word</th>
    <!-- <th scope="col">Checked</th> -->
    <th>Action</th>
    </tr>   
    </thead>
    <tbody>
    <tr 
    *ngFor="let user of users | customerEmailFilter:searchtext; let i = index"
     
    >   
            <th scope="row">{{i+1}}</th>
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.adress}}</td>
            <td><input type="password" readonly value="user.password" ></td>
            <!-- <td>{{user.checked ? "activated":'not activated'}}</td> -->
            <td >
                <span class="remove" (click)="deleteUser(user)">
                    Del
                    <svg [cIcon]="icons.cilDelete"  size="s" title="Shield Icon"></svg>
                </span>
                <span class="remove" routerLink="/detail/{{user.id}}">
                    Update
                    <svg [cIcon]="icons.cilPen" size="s" title="List Icon"></svg>
                </span>
            </td>
    </tr>
</tbody>
    <!-- <app-user-item
    *ngFor="let user of users"
    [user]="user"
    >
    </app-user-item> -->
</table>
<lib-toastify-toast-container
[position]="'top-right'"
[autoClose]="2000"
[transition]="'flip'"
></lib-toastify-toast-container>



